#about {
  padding-top: 160px;
  padding-bottom: 96px;
}

#about .button {
  width: 40%;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--spacing-8) !important;
  font-size: var(--font-size-reg);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  border: 1px solid var(--grey-tone);
  font-weight: var(--font-weight-semibold);
  font-family: "canada-type-gibson", sans-serif;
  transition: background-color 0.2s ease;
}

#about .button:hover {
  background-color: rgba(0, 0, 0, .6);
}

#about>* {
  margin-bottom: 160px;
}

.cta-container {
  display: flex;
  margin-top: var(--spacing-6);
}

.cta-container> :first-child {
  margin-right: var(--spacing-2);
}

#about>:first-child {
  width: 60%;
}

#about>:nth-child(2) {
  width: 40%;
  display: flex;
  margin-left: 48px;
  justify-content: center;
}

/* RIVE  */
.rive-container {
  width: 100%;
  display: block;
  margin-top: -60px;
}
#about canvas {
  height: 490px !important;
  display: block;
  cursor: pointer;
}

.logo-static {
  width: auto;
  height: 360px;
  display: none;
  margin-bottom: 72px;
}

@media only screen and (max-width: 900px) {
  #about {
    flex-direction: column-reverse;
  }

  #about>:nth-child(1),
  #about>:nth-child(2) {
    margin: 0;
    width: 100%;
  }

  .cta-container {
    width: 100%;
    display: flex;
    margin-top: 48px;
    flex-direction: column;
  }

  .cta-container .button:nth-child(2) {
    margin-top: var(--spacing-3);
  }

  #about .button {
    width: 100%;
  }

  .rive-container {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
  }

  #about canvas {
    height: 0 !important;
  }

  .logo-static {
    display: block;
  }
}