


form h6 { 
  height: 0;
  opacity: 0;
  margin-top: 0;
  color: #a8a8a8;
  text-align: center;
  transition: height .25s, margin-top 1s, opacity 1s;
}

form.pending #status-msg-pending {
  opacity: 1;
  height: auto;
  margin-top: 16px;
  transition: height .25s, margin-top 1s, opacity 1s;
}

.submit--status-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.pending .submit--status-container {
  height: 100%;
}




#status-msg-sent {
  opacity: 0;
  transition: opacity 2s;
}

.show-message {
  opacity: 1 !important;
}

.hide-pending {
  opacity: 0 !important;
  transition: opacity 2s;
}
