form {
  /* height 100% causes form container to have extra space at bottom
  however, animation container does not scale without a height to inherit */
  /* height: 100%; */

  display: flex;
  flex-direction: column;
}

form * {
  width: 100%;
}

.form-row {
  display: flex;
}

.form-column {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: var(--font-weight-medium);
}

input,
textarea {
  max-width: 100%;
  font-size: 16px;
  resize: vertical;
  color: #a0a0a0;
  margin-bottom: 24px;
  height: var(--spacing-8);
  padding: var(--spacing-1);
  border-radius: var(--border-radius);
  border: 1px solid var(--tertiary-color);
  font-family: "canada-type-gibson", sans-serif;
}

textarea {
  padding-top: 8px;
  line-height: 24px;
  min-height: var(--spacing-10);
}

/* OVERRIDE CHROME STYLING */
/* Source: https://medium.com/@landonschropp/styling-autocompleted-inputs-in-chrome-and-safari-de83d7bd1d8a */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #8f8f8f;
  box-shadow: 0 0 0 1000px white inset;
}

#contact {
  /* max-height: 714px !important; */

  height: 720px;
  align-items: stretch;
  align-items: flex-start;
  padding-bottom: var(--spacing-12);
  background-color: var(--quaternary-color);
}

#contact>* {
  min-height: 420px;

  /* new  */
  height: 420px;
  /* border: 1px solid red; */
}

#contact form,
#contact .pending {
  padding-left: 64px;
}

label {
  color: #707070;
  font-weight: 500;
  margin-bottom: var(--spacing-1);
  margin-top: calc(var(--font-size-reg) / 4 * -1);
}

#contact p {
  min-height: 80px;
  margin-bottom: var(--spacing-7);
}

#contact li {
  margin-bottom: var(--spacing-8);
}

#contact li:last-child {
  margin-bottom: 0;
}

#contact li a {
  display: flex;
  width: fit-content;
  align-items: center;
}

#contact li img {
  cursor: pointer;
  width: var(--spacing-7);
  height: var(--spacing-7);
  margin-right: var(--spacing-4)
}

#contact .form-column+.form-column {
  margin-left: 16px;
}



/* ======================================================= */

label {
  transition: opacity .5s, height 10s, margin 1s;
}

.pending label {
  margin: 0;
  height: 0;
  opacity: 0;
  transition: opacity .35s, height 10s, margin 1s;
}

input,
textarea {
  transition: height .25s, padding 1s, margin 1s, opacity 1s;
}

.pending input,
.pending textarea {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  min-height: 0;
  transition: height .25s, padding 1s, margin 1s, opacity 1.5s, min-height 1.5s ease-in-out;
}



.status-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.pending .status-container {
  height: 100%;
  /* push elements up: */
  padding-bottom: 8px;
}

.show-message #status-pending {
  opacity: 0;
  transition: opacity .35s;
}

#pending-icon {
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
}

.pending #pending-icon {
  opacity: 1;
  width: 24px;
  height: 24px;
  transition: opacity 1s, width 1s, height 1s;
}