:root {
  /* project title: */
  --font-size-med: 36px;
  /* section title: */
  --font-size-large: 48px;
  /* splash title: */
  --font-size-xlarge: 56px;
  /* body, links, buttons, overline: */
  --font-size-reg: 18px;
  /* copyright: */
  --font-size-small: 16px;

  --font-weight-light: 200;
  --font-weight-book: 300;
  /* body text: */
  --font-weight-regular: 400;
  /* labels, list items, links : */
  --font-weight-medium: 500;
  /* titles, overline, buttons : */
  --font-weight-semibold: 600;

  --spacing-micro: 14px;
  --spacing-tiny: 18px;
  --spacing-small: 36px;
  /* --project-icon-height: */
  --spacing-regular: 40px;
  /* --form-element-height: */
  --spacing-medium: 48px;
  --spacing-large: 56px;
  --spacing-xlarge: 112px;
  --spacing-xxlarge: 128px;
  --spacing-xxxlarge: 160px;


  --line-height-reg: calc(var(--font-size-reg) - var(--font-size-reg) / 3);
  --line-height-medium: calc(var(--font-size-med) - var(--font-size-med) / 3);
  --line-height-large: calc(var(--font-size-large) - var(--font-size-large) / 3);
  --line-height-xlarge: calc(var(--font-size-xlarge) - var(--font-size-xlarge) / 3);

  --border-radius: 5px;
  --box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);

  --primary-color: black;
  --tertiary-color: #dcdcdc;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100vw;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
  font-style: normal;
  font-size: var(--font-size-reg);
  font-weight: var(--font-weight-book);
  font-family: "canada-type-gibson", sans-serif;
}

h1 {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-xlarge);
  font-weight: var(--font-weight-semibold);
}

h2 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: var(--font-size-med);
  line-height: var(--line-height-medium);
}

h6 {
  color: var(--tertiary-color);
  font-size: var(--font-size-reg);
}

h1,
h2,
header {
  margin-bottom: var(--spacing-medium);
}

p {
  line-height: 30px;
  text-align: justify;
  text-align-last: left;
  margin-top: calc(var(--font-size-reg) / 2 * -1);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

button {
  border: none;
  color: white;
  cursor: pointer;
  height: var(--spacing-medium);
  font-size: var(--font-size-reg);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  font-weight: var(--font-weight-semibold);
  font-family: "canada-type-gibson", sans-serif;
}

li {
  list-style: none;
  font-weight: var(--font-size-med);
  line-height: var(--line-height-reg);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.split-layout {
  flex-direction: row;
}

.split-layout>* {
  width: 50%;
}

img {
  width: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  width: 100%;
}

.form-row {
  display: flex;
}

.form-column {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: var(--font-weight-medium);
}

input {
  height: var(--spacing-medium);
  border-radius: var(--border-radius);
  border: 1px solid var(--tertiary-color);
}

.card {
  display: flex;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul {
  width: 100%;
  display: flex;
}

.card ul li {
  border-radius: 20px;
  background-color: var(--tertiary-color);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-micro) var(--spacing-small);
}

.card section>img {
  width: 324px;
  height: 243px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.odd-card {
  flex-direction: row-reverse;
}

footer {
  color: white;
  text-align: center;
  font-size: var(--font-size-small);
  background-color: var(--primary-color);
}

#contact {
  height: 696px;
}

.card-header-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--tertiary-color);
}