:root {
  overflow-x: hidden;

  font-weight: 200;
  font-style: normal;
  font-family: "canada-type-gibson", sans-serif;

  --border-radius: 5px;

  --font-size-med: 36px; /* project title */
  --font-size-large: 48px; /* section title */
  --font-size-xlarge: 56px; /* splash title */
  --font-size-reg: 18px; /* body, links, buttons, overline */

  --font-weight-regular: 400; /* body */
  --font-weight-medium: 500; /* labels, list items */
  --font-weight-semibold: 600; /* titles, overline, buttons, nav */

  --spacing-tiny: 18px;
  --spacing-small: 36px;
  --spacing-regular: 40px; /* --project-icon-height */
  --spacing-medium: 48px; /* --form-element-height */
  --spacing-large: 56px;
  --spacing-xlarge: 112px;
  --spacing-xxlarge: 128px;
  --spacing-xxxlarge: 160px; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: 200vh;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}