:root {
  /* project title: */
  --font-size-med: 36px;
  /* section title: */
  --font-size-large: 48px;
  /* splash title: */
  --font-size-xlarge: 56px;
  /* body, links, buttons, overline: */
  --font-size-reg: 18px;
  /* copyright: */
  --font-size-small: 16px;

  --font-weight-light: 200;
  --font-weight-book: 300;
  /* body text: */
  --font-weight-regular: 400;
  /* labels, list items, links : */
  --font-weight-medium: 500;
  /* titles, overline, buttons : */
  --font-weight-semibold: 600;

  /* convery to numbers (--spacing-2x) */
  /* spacing missing margin30-32-36-40 between p and tech
  + line height of p + marginright24 on tech */
  --spacing-micro: 12px;
  --spacing-tiny: 18px;
  --spacing-small: 36px;
  /* --project-icon-height: */
  --spacing-regular: 40px;
  /* --form-element-height: */
  --spacing-medium: 48px;
  --spacing-large: 56px;
  --spacing-xlarge: 112px;
  --spacing-xxlarge: 128px;
  --spacing-xxxlarge: 160px;


  --line-height-reg: calc(var(--font-size-reg) - var(--font-size-reg) / 3);
  --line-height-medium: calc(var(--font-size-med) - var(--font-size-med) / 3);
  --line-height-large: calc(var(--font-size-large) - var(--font-size-large) / 3);
  --line-height-xlarge: calc(var(--font-size-xlarge) - var(--font-size-xlarge) / 3);

  --border-radius: 5px;
  --box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);

  --primary-color: black;
  /* --secondary-color: ''; */
  --tertiary-color: #dcdcdc;
  --quaternary-color: #f7f9fb;

  --layout-padding: 0 128px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100vw;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
  font-style: normal;
  font-size: var(--font-size-reg);
  font-weight: var(--font-weight-book);
  font-family: "canada-type-gibson", sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* 112 padding at top of section */
main>section {
  border: 1px solid red;
  padding: var(--layout-padding);
  padding-top: var(--spacing-xlarge);
}

nav {
  height: 96px;
  display: flex;
  align-items: center;
  padding: var(--layout-padding);
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin-left: 36px;
}

h1 {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-xlarge);
  font-weight: var(--font-weight-semibold);
}

h2 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: var(--font-size-med);
  line-height: var(--line-height-medium);
}

h6 {
  color: var(--tertiary-color);
  font-size: var(--font-size-reg);
}

h1,
h2 {
  margin-bottom: var(--spacing-medium);
}

p {
  text-align: justify;
  text-align-last: left;
  line-height: 1.5;
  /* Approximately 30px */
  margin-top: calc(var(--font-size-reg) / 2 * -1);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

button {
  border: none;
  color: white;
  cursor: pointer;
  height: var(--spacing-medium);
  font-size: var(--font-size-reg);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  font-weight: var(--font-weight-semibold);
  font-family: "canada-type-gibson", sans-serif;
}

li {
  list-style: none;
  font-weight: var(--font-size-med);
  line-height: var(--line-height-reg);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main>section>header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--spacing-xlarge);
  border: 1px solid red;
}

main>section>header p {
  max-width: 608px;
  text-align: center;
  text-align-last: center;
}

.split-layout {
  flex-direction: row;
}

.split-layout>* {
  width: 50%;
}

img {
  width: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  width: 100%;
}

.form-row {
  display: flex;
}

.form-column {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: var(--font-weight-medium);
}

input {
  height: var(--spacing-medium);
  border-radius: var(--border-radius);
  border: 1px solid var(--tertiary-color);
}

.card {
  display: flex;
  margin-bottom: var(--spacing-xxxlarge);
}

.card header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-regular);
}

.card header>a * {
  margin: 0;
  padding: 0;
  display: block;
}

.card p {
  /* margin-bottom: 36px; */
  letter-spacing: -.5px;
  margin-bottom: var(--spacing-regular);
}

.card ul {
  width: 100%;
  display: flex;
}

.card ul li {
  display: flex;
  overflow: hidden;
  margin-right: 18px;
  border-radius: 20px;
  white-space: nowrap;
  justify-content: center;
  background-color: var(--tertiary-color);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-micro) var(--spacing-small);
}

.card section>img {
  width: 324px;
  height: 243px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.odd-card {
  flex-direction: row-reverse;
}

footer {
  color: white;
  text-align: center;
  font-size: var(--font-size-small);
  background-color: var(--primary-color);
}

#contact {
  height: 696px;
  /* padding-top: 0; */
  background-color: var(--quaternary-color);
}

.card-header-icon {
  border-radius: 50%;
  /* alt regular */
  width: var(--spacing-small);
  height: var(--spacing-small);
  border: 1px solid var(--tertiary-color);
}


#about {
  padding-top: 160px;
  /* necessary? */
  padding-bottom: 96px;
  border: 2px solid rgb(255, 0, 170);

  /* align-items: stretch; */
  /* display: flex; */
  /* align-items: stretch; */
}

#about button {
  width: 40%;
}

#about>* {
  margin-bottom: 160px;
}

/* --spacing-regular: 40px;
--spacing-medium: 48px; */

.cta-container {
  margin-top: var(--spacing-small);
}

.cta-container> :first-child {
  margin-right: var(--spacing-tiny);
}

#about>:first-child {
  width: 60%;
  border: 2px solid rgb(30, 255, 0);
}

#about>:nth-child(2) {
  /* height: 100%; */
  display: flex;
  border: 1px solid blue;
}

#about>:nth-child(2) img {
  border: 1px solid orange;

  width: 100%;
  object-fit: cover;
  /* height: 100%; */
}

h1 {
  margin-left: -4px;
  margin-top: var(--spacing-tiny);
}

h6 {
  margin-left: -1px;
}

/* 160margin + 96 (nav height) at bottom of splash content block */

#contact {
  align-items: flex-start;
}

#contact> :nth-child(2) {
  padding-left: 64px;
}

label {
  color: #707070;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: calc(var(--font-size-reg) / 4 * -1);
}

input {
  margin-bottom: 24px;
}

form>:last-child {
  /* added to vertically align btn w/ bullet pt */
  margin-top: 4px;
  /* border: 1px solid red; */
}

#contact p,
#contact li {
  margin-bottom: 32px;
}

#contact li a {
  display: flex;
  align-items: center;
}

#contact li img {
  /* image size should be 48px according to mockup */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 24px;
  background-color: white;
  border: 1px solid var(--tertiary-color);
}

#contact .form-column+.form-column {
  margin-left: 16px;
}


#skills {
  padding-bottom: 160px;
}

#skills ul {
  width: 100%;
  /* border: 1px solid green; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 8px;
  row-gap: 16px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

#skills li {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: var(--font-weight-medium);
  /* border: 1px solid blue; */
}

#skills li img {
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
  /* border: 1px solid red; */
}