nav {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav button {
  border: none;
  display: none;
}

nav ul {
  width: 100%;
  display: flex;
  padding: 0 60px;
  list-style: none;
  max-width: 1244px;
  align-items: center;
}

nav ul li {
  margin-left: 36px;
}

nav ul li:first-child {
  margin-left: 0;
}

.menu-wrapper {
  display: none;
}

@media only screen and (max-width: 900px) {
  nav {
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 0 16px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid var(--tertiary-color);
  }

  nav>ul {
    display: none;
  }

  nav button {
    z-index: 2;
    display: flex;
    background: none;
    margin-left: auto;
    height: max-content;
  }

  nav button img {
    width: 36px;
  }

  .menu-wrapper {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    padding-left: 64px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
  }

  .menu-wrapper.open {
    pointer-events: fill;
    transition: background-color 0.3s;
    background-color: rgba(0, 0, 0, .25);
  }

  .menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu .nav-links {
    display: flex;
    padding: 24px 48px;
    padding: 96px 48px;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu .nav-links li {
    margin: 24px 0;
    font-size: 24px;
    line-height: initial;
  }

  .menu .social-links {
    padding: 48px;
    margin-top: auto;
    justify-content: space-between;
  }

  .menu .social-links li {
    margin: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: black;
  }
  
  .menu .social-links a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu .social-links img {
    height: 24px;
    filter: invert(1);
  }

  .menu .social-links p {
    display: none;
  }

  .menu .social-links img[alt="LinkedIn"] {
    height: 23px;
  }

}