.card {
  display: inherit;
  margin-bottom: var(--spacing-12);
  /* max-width: 1200px; */
  /* border: 1px solid orange; */
}

.card header {
  width: 100%;
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-7);
}

.card header>a {
  cursor: default;
}

.card header>a * {
  margin: 0;
  padding: 0;
  display: block;
}

.card-header-icon {
  border-radius: 50%;
  width: var(--spacing-6);
  height: var(--spacing-6);
}

.card-header-icon:hover {
  opacity: .75;
  cursor: pointer;
}

.card ul {
  width: 100%;
  display: flex;
  margin-top: auto;
}

.card ul li {
  display: flex;
  overflow: hidden;
  margin-right: 18px;
  border-radius: 20px;
  white-space: nowrap;
  justify-content: center;
  background-color: var(--tertiary-color);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-1) var(--spacing-6);
}

.detail-container {
  min-height: 320px;
}

.card p {
  line-height: 1.68;
  letter-spacing: -.5px;
  margin-bottom: var(--spacing-5);
}

.card .detail-container {
  width: 60%;
}

.preview-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.card section>img {
  width: 328px;
  height: 246px;
  background: white;
  box-shadow: var(--box-shadow);
  border-top: .5px solid white;
  border-radius: var(--border-radius);
}

.card .single-image {
  width: 100%;
  height: 100%;
  display: none;
}

.preview-container .layered-image {
  transition: transform 1s, box-shadow 1s;
}

.preview-container .layered-image:hover {
  transform: scale(1.05);
  transition: transform 1s, box-shadow 1s;
  box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.15);
}


/* 328 + 104 = 432*/

@media only screen and (max-width: 1170px) {
  .card .detail-container {
    width: 56%;
  }
}

@media only screen and (max-width: 1140px) {
  .card .detail-container {
    width: 54%;
  }
}

@media only screen and (max-width: 1110px) {
  .card .detail-container {
    width: 52%;
  }
}

@media only screen and (max-width: 1080px) {
  .card section>img {
    width: 312px;
    height: 234px;
  }
}

@media only screen and (max-width: 1020px) {
  .card section>img {
    width: 304px;
    height: 228px;
  }
}

@media only screen and (max-width: 1000px) {
  .card section>img {
    width: 296px;
    height: 222px; 
  }
}

@media only screen and (max-width: 980px) {
  .card section>img {
    width: 288px;
    height: 216px; 
  }
}

@media only screen and (max-width: 960px) {
  .card section>img {
    width: 280px;
    height: 210px; 
  }
}

@media only screen and (max-width: 940px) {
  .card section>img {
    width: 264px;
    height: 198px; 
  }
}



/* 
details p tag max height of 180
or min height of 180
active content at full width is 1184
contact section seems to have a set height- need to fix mobile
*/