.card {
  display: inherit;
  margin-bottom: var(--spacing-12);
}

.card header {
  width: 100%;
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-7);
}

.project-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-links-container * {
  margin: 0;
  padding: 0;
  display: block;
}

.project-links-container a {
  margin-left: 8px;
}

.card-header-icon {
  border-radius: 50%;
  width: var(--spacing-5);
  height: var(--spacing-5);
}

.card-header-icon:hover {
  opacity: .6;
  cursor: pointer;
}

.card ul {
  width: 100%;
  display: flex;
}

.card ul li {
  display: flex;
  overflow: hidden;
  margin-right: 16px;
  border-radius: 20px;
  white-space: nowrap;
  justify-content: center;
  background-color: var(--grey-tone);
  font-weight: var(--font-weight-regular);

  font-size: 17px;
  padding: 12px 32px;
}

.detail-container {
  min-height: 320px;
}

.card p {
  line-height: 1.68;
  letter-spacing: -.5px;
  margin-bottom: var(--spacing-5);
}

.card .detail-container {
  width: 60%;
}

.preview-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.card section>img {
  cursor: pointer;
  width: 328px;
  height: 246px;
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.card .single-image {
  width: 100%;
  height: 100%;
  display: none;
  box-shadow: none;
  border: 1px solid rgb(230, 230, 230);
}

.preview-container .layered-image {
  transition: transform 1s, box-shadow 1s;
}

.preview-container .layered-image:hover {
  transform: scale(1.05);
  transition: transform 1s, box-shadow 1s;
  box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.15);
}

.layered-image.dark {
  border: 1px solid rgb(80, 80, 80);
  border-top: .5px solid rgb(160, 160, 160);
}

.layered-image.light {
  border: 1px solid rgb(220, 220, 220);
  border-top: .5px solid white;
}




.modal-container {
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .45);
}

.modal-container .image-wrapper {
  max-width: 650px;
  position: relative;
  display: inline-block;
}

.modal-container img {
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.5);
}

.modal-container button {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 28px;
  width: 28px;
  z-index: 20;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .55);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .75);
}

.modal-container button:hover {
  background-color: rgba(0, 0, 0, .75);
}
.modal-container button:active {
  transform: scale(.9);
}