@media only screen and (max-width: 700px) {
  .split-layout {
    flex-direction: column;
  }

  body {
    overflow-x: hidden;
  }

  nav {
    padding: 0;
    width: 100%;
  }

  #about {
    flex-direction: column-reverse;
  }

  #about>:nth-child(1),
  #about>:nth-child(2) {
    margin: 0;
    width: 100%;
  }

  .card {
    margin: 0;
    display: flex;
    flex-direction: column-reverse !important;
  }

  .card .detail-container {
    width: 100%;
    border: 1px solid red;
  }

  .preview-container {
    width: 100%;
    border: 2px solid green;
    height: auto;
    /* display: none; */
    /* padding: 0 36px; */
    /* min-height: 400px; */
  }

  .projects {
    width: 100% !important;
    align-items: baseline !important;
    align-items: initial;
  }

  .layered-image {
    display: none;
    /* width: 90% !important;
    height: 300px !important; */

  }

  .card .single-image {
    display: block;
  }

  h2 {
    text-align: center;
  }

  #contact ul {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    display: none;
  }

  #about,
  #projects,
  #skills,
  #contact {
    width: 100%;
    padding: 0;
  }

  #contact>div,
  #contact>header,
  #contact form {
    border: 1px solid red;
    padding: 0;
    width: 100%;
  }

  form {
    padding: 16px !important;
  }

  #contact>* {
    /* fixes mobile height/footer issue, test on desktop */
    height: 100%;
  }
  #contact header {
    margin: 0;
    align-items: center;
  }
}



/* @1440 .preview-container === 537.27
@1300 .preview-container === 442.31 */
/* break project cards at 1290 for ipad */
/* base anims off layered-image */



/* Add breakpoint before 930 on contact */
/* Accounting for 4 line blurb: */
@media only screen and (max-width: 1137px) {
  #contact li {
    margin-bottom: var(--spacing-6);
  }
}