/* PROJECT SECTION BREAKPOINTS */

@media only screen and (max-width: 1170px) {
  .card .detail-container {
    width: 56%;
  }
}

@media only screen and (max-width: 1140px) {
  .card .detail-container {
    width: 54%;
  }
}

@media only screen and (max-width: 1110px) {
  .card .detail-container {
    width: 52%;
  }
}

@media only screen and (max-width: 1080px) {
  .card section>img {
    width: 312px;
    height: 234px;
  }
}

@media only screen and (max-width: 1020px) {
  .card section>img {
    width: 304px;
    height: 228px;
  }
}

@media only screen and (max-width: 1000px) {
  .card section>img {
    width: 296px;
    height: 222px;
  }
}

@media only screen and (max-width: 980px) {
  .card section>img {
    width: 288px;
    height: 216px;
  }
}

@media only screen and (max-width: 960px) {
  .card section>img {
    width: 280px;
    height: 210px;
  }
}

@media only screen and (max-width: 940px) {
  .card section>img {
    width: 264px;
    height: 198px;
  }
}


/*! MOBILE LAYOUT !*/

@media only screen and (max-width: 900px) {
  .split-layout {
    flex-direction: column;
  }

  body {
    overflow-x: hidden;
  }

  nav {
    padding: 0;
    width: 100%;
  }

  .card {
    margin: 0;
    display: flex;
    flex-direction: column-reverse !important;
    /* vertical spacing between each project: */
    margin-bottom: var(--spacing-9);
  }

  .card .detail-container {
    width: 100%;
    margin-top: var(--spacing-8);
  }

  .preview-container {
    width: 100%;
    height: auto;
  }

  .layered-image {
    display: none;
  }

  .card .single-image {
    display: block;
  }

  h2 {
    text-align: center;
  }

  #contact ul {
    display: flex;
    flex-direction: row;

    display: none;
  }

  #contact>div,
  #contact>header,
  #contact form {
    padding: 0;
    width: 100%;
  }

  #contact>* {
    /* fixes mobile height/footer issue, test on desktop */
    height: 100%;
  }

  #contact header {
    height: auto;
    align-items: center;
  }

  #contact form {
    padding: 0 !important;
    height: 100%;
  }

  #contact a p {
    display: none;
  }




  .content {
    padding: 72px 16px !important;
  }

  .content>header {
    margin-bottom: 72px;
  }

  .section-blurb {
    display: none;
  }

  h1 {
    font-size: 50px;
    margin-top: 12px;
    letter-spacing: -.5px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 0;
  }


  #about {
    /* padding: 0 !important; */
    /* border: 10px solid rgb(0, 42, 255); */
    flex-direction: column-reverse;
  }

  #about>:nth-child(1),
  #about>:nth-child(2) {
    margin: 0;
    width: 100%;
  }

  .logo {
    height: 300px;
    margin-bottom: 72px;
  }

  .cta-container {
    width: 100%;
    display: flex;
    margin-top: 48px;
    flex-direction: column;
  }

  .cta-container button:nth-child(2) {
    display: none;
  }

  #about button {
    width: 100%;
  }

  nav ul {
    display: none;
  }


}



/* @1440 .preview-container === 537.27
@1300 .preview-container === 442.31 */
/* break project cards at 1290 for ipad */
/* base anims off layered-image */



/* Add breakpoint before 930 on contact */
/* Accounting for 4 line blurb: */
@media only screen and (max-width: 1137px) {
  #contact li {
    margin-bottom: var(--spacing-6);
  }
}




/* 
details p tag max height of 180
or min height of 180
active content at full width is 1184
contact section seems to have a set height- need to fix mobile
*/