@media only screen and (max-width: 600px) {
  .split-layout {
    /* mobile styles go here */
    flex-direction: column;
    border: 1px solid red;
  }

  body {
    overflow-x: hidden;
  }
  
  nav {
    padding: 0;
    width: 100%;
  }

  #about {
    flex-direction: column-reverse;
  }

  #about>:nth-child(1),
  #about>:nth-child(2) {
    margin: 0;
    width: 100%;
    border: 1px solid red;
  }

  .card {
    display: none;

  }

  h2 {
    text-align: center;
  }


  #contact ul {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    /* width: 100%; */
    display: none;
  }

  #about,
  #projects,
  #skills,
  #contact {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  #contact>div,
  #contact form {
    padding: 0;
    width: 100%;
    border: 1px solid red;
  }
}